<div id="body" class="body">	
	<div class="container">		
		<div class="row">
			<div class="header-title">SUBMIT STORY</div>
			<div class=" col-md-4">
				<div class="link-image">
					<img class="img-responsive" src="<%= @page ? @page.meta_tags['property']['og:image'][0] : '/assets/img-placeholder.jpg' %>">
					<br/>
				<div class="submit-story-btn-container">
					<div class="video-btn-container">
						<a href="#" class="action-button video-btn shadow animate orange" data-toggle="modal" data-target="#add-video" > <i class="fa fa-play-circle-o" aria-hidden="true"></i> Add Video</a>	
					</div>
					<div class="url-btn-container">
						<a href="#" class="action-button url-btn shadow animate blue" data-toggle="modal" data-target="#credit-url" > <i class="fa fa-link" aria-hidden="true"></i> Add Alternative Source</a>		
					</div>
				</div>							
				</div>
			</div>
			<div class=" col-md-8">
				<div class="link-details-container">
					<div class="input-group">
						<input type="text" class="form-control link-holder" placeholder="Url" value="<%= @page ? @page.url : '' %>">
						<span class="input-group-btn">
							<button class="btn btn-secondary" type="button" style="padding: 9px 17px;background: #1bb76e;"><i class="fa fa-external-link" aria-hidden="true"></i></button>
						</span>
					</div>
					<div class="input-group">
						<input class="form-control" placeholder="Title" value="<%= @page ? @page.title : '' %>">
					</div>
					<div class="input-group">
						<textarea class="form-control textarea" id="Message" placeholder="Synopsis"><%= @page ? @page.description : '' %></textarea>
					</div>
					<div class="no-pads-left col-md-6" >
						<%= select("article", "article_category", ArticleCategory.all.order(:description).collect { |a| [a.description,a.id] }, {prompt: "Select Category"}, :class => "form-control input-md", :id => "selectbasic" ) %>
					</div>
					<div class="no-pads-right col-md-6">
						<%= select("article", "article_category", ArticlePlatform.all.order(:description).collect { |a| [a.description,a.id] }, {prompt: "Select Platform"}, :class => "form-control input-md", :id => "selectbasic" ) %>
					</div>	
				</div>
			</div>
			<div class="col-md-12">
				<div class="artcle-tags">
					<div class="tags-header">TAGS</div>
					<ul class="tags-list">
						<% unless @page.blank? %>
							<% 
								keyword = @page.meta_tag['name']['news_keywords'].blank? ? @page.meta_tag['name']['keywords'] : @page.meta_tag['name']['news_keywords']
								keyword.split(',').each do |tag| %>
								<li><a href=""><%= tag %><a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
							<% end %>
						<% end %>
						
						<!-- <li><a href="">TAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">SampleGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">TAGS PA MORE<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">SamplesssssTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">SesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">TAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">JUST TAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">SlesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
						<li><a href="">SesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li> -->
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class=" col-md-12">
				<div class="main-tags-container">
				<ul class="nav nav-tabs">
					<li><a href="#suggested-tags" data-toggle="tab">Suggested Tags</a></li>
					<li><a href="#find-tags" data-toggle="tab">Find Tags</a></li>
					<li><a href="#ccc" data-toggle="modal" data-target="#create-tag">Create Tag</a></li>
				</ul>
				<div class="tab-content" id="tabs">
					<div class="tab-pane fade in" id="suggested-tags">						
						<div class="artcle-tags">								
							<ul class="tags-list">
								<li><a href="">Sample Tag <a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">TAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SampleGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">TAGS PA MORE<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SamplesssssTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">TAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">JUST TAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SlesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
							</ul>
						</div>							
					</div>
					<div class="tab-pane fade in" id="find-tags">
						<div class="artcle-tags">								
							<ul class="tags-list">
								<li><a href="">SamplesssssTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">TAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">TAGS PA MORE<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SlesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">Sample Tag <a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">TAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">JUST TAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SampleGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
								<li><a href="">SamplesTAGS<a class="del-tag" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
							</ul>
						</div>	
					</div>
					<div class="tab-pane fade in" id="ccc">3..C<Br/><Br/>C<Br/>o<Br/><Br/>ontent...</div>
				</div>				
				</div>
			</div>				
		</div>
		<div class="save-btn-container">
			<div class="save-btn">
				<a id="save" href="" class="action-button shadow animate green" >Save</a>					
			</div>
			<div class="save-and-publish-btn">
				<a id="save-and-pub" href="" class="action-button shadow animate blue" >Save and Publish</a>					
			</div>
			<div class="cancel-btn">
				<a id="cancel" href="" class="action-button shadow animate orange" >Cancel</a>					
			</div>				
		</div>
	</div><!-- -- END Container-- -->
</div><!-- -- END BODY--